body {
    margin: 0;
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atma';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/atma-v16-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atma-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atma';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/atma-v16-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atma-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atma';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/atma-v16-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.full-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.startscreen {
    width: 720px;
    height: 480px;
    color: #FFD013;
    font-family: 'Atma';
    padding: 0;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pepe-gif {
    height: 370px;
    position: absolute;
    top: 60px;
    left: 100px;
}

.title {
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 120px;
    text-align: center;
    line-height: 1;
    text-shadow: 8px 1px 0px #9A3A17;
}

#start_btn {
    position: absolute;
    top: 350px;
    left: 380px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #FFD013;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: solid 3px #9A3A17;
}

#start_btn:hover {
    background-color: #9A3A17;
    border-color: #FFD013;
    cursor: pointer;
}

.cloud-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 480px;
}

footer {
    height: 100px;
    background-color: black;
}